<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="CETL, Crescent Entertainment & Tourism Limited, Jalgaon, Maharashtra, tourist hub, restaurants, multiplex, shopping, fitness services, Ajanta Caves, Ellora, Unapdev, Omkareshwar, Manu devi, Padmalaya, Jalgaon-education">
    <meta name="keywords" content="CETL, Crescent Entertainment & Tourism Limited, Jalgaon, Maharashtra, tourist hub, restaurants, multiplex, shopping, fitness services, Ajanta Caves, Ellora, Unapdev, Omkareshwar, Manu devi, Padmalaya, Jalgaon-education">
    
    <title>Crescent Entertainment & Tourism Ltd</title>

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- header section Start -->
    {% include 'header.html'%}
    <!-- header section End -->


    <div class="owl-carousel-item position-relative">
        <div class="image-container"><img class="img-fluid" src="{% static 'img/common1.jpg' %}" alt=""  height="20%" width="100%"></div>
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" >
              <div class="container">
                  <div class="row justify-content-start">
                      <div class="col-10 col-lg-8">
                          
                          <h1 class="text-white mb-3 animated slideInDown" style="font-size: 3rem;">Vision of Khandesh Central</h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <h4><P style="text-align:justify" >The entire region (in and around Jalgaon) lacks adequate infrastructure for positioning it as a major tourist hub. The region lacks well developed/maintained space where the local community can come for leisure or entertainment. The project envisages filling up of this vacuum by offering affordable accommodation/excellent services and value entertainment for its target audience comprising tourist and the local populace.</P></h4>
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase "></h5>
                        <h1 class="mb-0">Crescent Entertainment & Tourism</h1>
                    </div>
                     <div class="about-info"><h5><p class="mb-4">Jalgaon, a city with immense potential, currently experiences underdevelopment in its hospitality and recreational sectors. Lacking 4/5-star hotels, proper amenities, and modern entertainment options, residents often seek leisure and tourism experiences in nearby cities like Aurangabad. Despite being the closest railway station to the Ajanta Caves, Jalgaon remains underserved.

                        The existing hotels lack essential facilities, and there's a considerable demand from industrial and commercial sectors for high-quality accommodations. Moreover, the region lacks air-conditioned banquet facilities, multiplex theaters, and modern amusement centers. With only two parks and minimal recreational options, Jalgaon faces a deficiency in leisure and entertainment opportunities.
                        
                        The Khandesh Central project emerges as a solution to these gaps. Envisioned as a comprehensive development, it plans to introduce a state-of-the-art hotel, health clubs, swimming pools, gyms, gaming zones, and more. The aim is to attract tourists and business travelers, fostering regional development. The project also emphasizes community spaces, open-air amphitheaters for various events, and a historical site featuring a 19th-century textile mill chimney.
                        
                        Additionally, Khandesh Central intends to provide educational and informative content, showcasing the rich history of the Khandesh region, profiles of local icons, and contributions to the independence struggle. With a focus on integration and development, Khandesh Central aspires to elevate Jalgaon's status and offer a holistic lifestyle experience for residents and visitors alike.
                        
                        
                        
                        
                        
                        
                        
                        
                     </h5> </p></div>
                    
                
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-50 w-100 ">
                        <img class="position-absolute w-100 h-75 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/R.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
                
            </div>
        </div>
       </div>
    <!-- About End -->


   
 <!-- Footer Start -->
 {% include 'footer.html'%}
 <!-- Footer Start -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>